body{
    background: bisque;
}
.app-container{
    width: 70%;
    height: 80%;
    background-color: cornsilk;
}

.effect{
    border-radius: 30px;
    background: #fdebb4;
    box-shadow:  8px 8px 6px rgba(0, 0, 0, 0.2),
                 -8px -8px 6px #fff5c8;
}

.title{
    color: #EE9041;
    text-shadow: 1px 1px 2px #fffec2, 0 0 0 black, 1px 4px 6px #fffec2; 
}

.fa-moon {
    color: #EE9041;
    text-shadow: 1px 1px 2px #fffec2, 0 0 0 black, 1px 4px 6px #fffec2; 
  }

  .darkmode input::before{
        content: "\f0eb";
        font-family: "FontAwesome";
        font-size: 60px;
        color: #EE9041;
        height: 80px;
        width: 80px;
        transform: translateX(-60px);
        transform: translatey(-30px);
        background: #fdebb4;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 24px;
        box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.3),
        -6px -6px 10px -1px #fff5c8;

    }
    
    .darkmode input:checked:before{
        content: "\f186";
        font-family: "FontAwesome";
        color:#EE9041;
        transform: translateX(-60px);
        transform: translatey(-30px);
        background:rgb(80, 49, 9);
      display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;  
        box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    
                    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
                     0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                     0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    }

    .logo{
        width:150px;
        min-width: 100px;
        transform: translateX(-20px);
        transform: translatey(-40px);
        margin-right:18%;

        filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.2))
                drop-shadow(-2px -2px 0 #fff5c8);

    }

    .frame{
        border-width: 8px;
        border-color: #fdebb4;
        border-radius: 10px;
        width: 600px;
        height: auto; 
        min-width: 100px;
        margin-top: -20px;
        box-shadow:  8px 8px 6px rgb(0, 0, 0, 0.3),
                    -4px -4px 1px rgba(255, 255, 255, 0.4),
                    inset 20px 20px 15px rgba(0, 0, 0, 0.493),
                    inset -10px -10px 15px rgba(0, 0, 0, 0.493)
                    }

    .image-banner{
        width: 600px; 
        min-width: 100px;
        margin-top: -20px;
    }

    .bg{
        background-color: rgb(255, 242, 226);
    }